/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
:root{
    --grey:hsl(0, 0%, 41%);
}
body{
    margin:0;
    font-family: Epilogue ,sans-serif;
    font-weight: 700;
    background-color: hsl(0, 0%, 98%);
    box-sizing: border-box;
}
.container{
    width:100%;
    margin: 0 auto;
    padding-top: 20px;
}
header{
    background-color: aqua;
}
header::after{
    content:'';
    display:table;
    clear: both;
}
.logo-cont{
  float: left;
  padding-top: 8px;
  padding-left: 6px;
}
nav{
    float:left;
}
nav ul,.nav2{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}
nav li{
    display:inline-block;
    margin-left: 30px;
    margin-right: 10px;
    padding-top: 7px;   
}
nav li a {
    text-decoration: none;
    color: var(--grey);
}
.nav2{
    float:right;
    margin-left: 30px;
    margin-right: 10px;
    padding-top: 7px; 
}
.nav2 a{
    text-decoration: none;
    color:var(--grey);
}
li svg{
    padding-left: 5px;
    margin-bottom: 2px;
}
.login{
    display: inline-block;
    padding: 10px;
    margin-top: -10px;
    margin-right: 20px;
}
.register{
    display: inline-block;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px 20px;
    margin-top: -10px;
}
.login{
    padding-right: 10px;
}