/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
:root{
    --grey:hsl(0, 0%, 41%);
}
body{
    padding: 0;
    margin:0;
    font-family: Epilogue ,sans-serif;
    font-weight: 500;
    background-color: hsl(0, 0%, 98%);
    box-sizing: border-box;
    font-size:18px;
    color:var(--grey);
}
.attribution{
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%,-50%);  
    font-size: 15px;
}
.attribution a{
    list-style: none;
    text-decoration: none;
    color:var(--grey);
}
nav{
    width:100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#part1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
#part1 > svg {
    margin-top: 15px;
    margin-left: 20px;
}
#part1 > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    gap:40px;
    list-style: none;
}
#part1 > ul {
    list-style: none;
}
.ul{
    list-style: none;
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap:7px;
}
.ul > li{
    position: relative;
    left:-40px;
    top:10px;
}
#part2 > ul{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    list-style: none;
    gap:20px;
}
#part2 > ul{
    margin-right: 25px;
}
#part2 > ul > li:nth-child(2){
    border:1.3px solid hsl(0, 0%, 8%);
    border-radius: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:-5px;

}